In [1]:
%cd ..

/Users/vittorio/Vega/research/llms-for-ts

/Users/vittorio/Library/Caches/pypoetry/virtualenvs/llms-for-ts-nVlTfn4V-py3.9/lib/python3.9/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
#!python ./src/data/make_dataset.py

In [3]:
import pandas as pd
df = pd.read_csv('./data/raw/ETTh1/train.csv')

In [4]:
class ETTDataset:
    def __init__(self, window_size:int = 12, target_size: int = 1) -> None:
        self.target = 'OT'
        self.timestep = 'date'

        self.window_size = window_size
        self.target_size = target_size

    def load_data(self, path: str) -> pd.DataFrame:
        data = pd.read_csv(path)
        return data

In [5]:
from src.features.build_features import process_dataset

process_dataset(df, 'base',24, 1, row_wise=False, target = 'OT')

                                                       X          y
0      30.5310001373291 27.78700065612793 27.78700065...  21.104000
1      27.78700065612793 27.78700065612793 25.0440006...  19.697001
2      27.78700065612793 25.04400062561035 21.9479999...  20.049000
3      25.04400062561035 21.947999954223643 21.173999...  20.752001
4      21.947999954223643 21.173999786376957 22.79199...  21.385000
...                                                  ...        ...
17390  11.255999565124512 11.607000350952148 12.38099...  10.200000
17391  11.607000350952148 12.380999565124512 11.46700...  10.904000
17392  12.380999565124512 11.467000007629396 11.18500...  11.044000
17393  11.467000007629396 11.1850004196167 10.5520000...  10.271000
17394  11.1850004196167 10.552000045776367 9.98900032...   9.778000

[17395 rows x 2 columns]

# Rowise

In [6]:
from src.features.build_features import create_observation_row_wise
wiki_df = pd.read_csv('data/raw/gwt/train_2.csv')
wiki_df.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2017-09-01,2017-09-02,2017-09-03,2017-09-04,2017-09-05,2017-09-06,2017-09-07,2017-09-08,2017-09-09,2017-09-10
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,19.0,33.0,33.0,18.0,16.0,27.0,29.0,23.0,54.0,38.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,32.0,30.0,11.0,19.0,54.0,25.0,26.0,23.0,13.0,81.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,6.0,6.0,7.0,2.0,4.0,7.0,3.0,4.0,7.0,6.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,7.0,19.0,19.0,9.0,6.0,16.0,19.0,30.0,38.0,4.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,16.0,19.0,9.0,20.0,23.0,28.0,14.0,8.0,7.0

In [7]:
wiki_df.shape

(145063, 804)

In [8]:
X, y = create_observation_row_wise(wiki_df.drop("Page", axis=1).sample(100), 24, 1)