In [ ]:
%cd ..

In [ ]:
#!python ./src/data/make_dataset.py

In [ ]:
import pandas as pd
df = pd.read_csv('./data/raw/ETTh1/train.csv')

In [ ]:
class ETTDataset:
    def __init__(self, window_size:int = 12, target_size: int = 1) -> None:
        self.target = 'OT'
        self.timestep = 'date'

        self.window_size = window_size
        self.target_size = target_size

    def load_data(self, path: str) -> pd.DataFrame:
        data = pd.read_csv(path)
        return data

In [ ]:
from src.features.build_features import process_dataset

process_dataset(df, 'base',24, 1, row_wise=False, target = 'OT')

# Rowise

In [ ]:
from src.features.utils import _create_observation_row_wise
wiki_df = pd.read_csv('data/raw/gwt/train_2.csv')
wiki_df.head()

In [ ]:
wiki_df.shape

In [ ]:
X, y = _create_observation_row_wise(wiki_df.drop("Page", axis=1).sample(100), 24, 1)

In [ ]:
X[0]

In [ ]:
X.shape, y.shape

In [ ]:
from src.features.utils import process_dataset
process_dataset(wiki_df.drop("Page", axis=1).sample(100), 'base', 24, 1, row_wise=True)

## Testing M5 dataset

In [1]:
%cd ..
#from src.features.datasets import M5Dataset
#m5 = M5Dataset('data/raw/m5')
#for i in m5.process('base', chunksize=10, window_size=24, target_size=1, metadata=['wm_yr_wk']):
#    print(i)
#    break

/Users/vittorio/Vega/research/llms-for-ts

/Users/vittorio/Library/Caches/pypoetry/virtualenvs/llms-for-ts-nVlTfn4V-py3.9/lib/python3.9/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
import pandas as pd
wiki_df = pd.read_csv('data/raw/gwt/train_2.csv', nrows = 100)
wiki_df.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2017-09-01,2017-09-02,2017-09-03,2017-09-04,2017-09-05,2017-09-06,2017-09-07,2017-09-08,2017-09-09,2017-09-10
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,19.0,33.0,33.0,18,16.0,27,29,23,54.0,38.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,32.0,30.0,11.0,19,54.0,25,26,23,13.0,81.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,6.0,6.0,7.0,2,4.0,7,3,4,7.0,6.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,7.0,19.0,19.0,9,6.0,16,19,30,38.0,4.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,16.0,19.0,9,20.0,23,28,14,8.0,7.0

In [3]:
from src.features.utils import process_dataset
wiki_df = wiki_df.melt(id_vars=['Page'], var_name='date', value_name='traffic')

In [4]:
etth = pd.read_csv('data/raw/ETTh1/train.csv')

In [5]:
etth.head()

                  date   HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0  2016-07-01 00:00:00  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1  2016-07-01 01:00:00  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2  2016-07-01 02:00:00  5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3  2016-07-01 03:00:00  5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4  2016-07-01 04:00:00  5.358  1.942  1.492  0.462  3.868  1.279  21.948000

In [6]:
config = {
    "target_size":1,
    "window_size":24,
    "target":"OT", 
    "ts_features":["HUFL", "HULL"],
    "prompt_name":"metadata"
}
obs = process_dataset(etth, **config)